<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link href="https://fonts.googleapis.com/css?family=Aguafina+Script|Allura|Bad+Script|Caveat|Cedarville+Cursive|Clicker+Script|Cookie|Dancing+Script|Euphoria+Script|Great+Vibes|Indie+Flower|Kaushan+Script|League+Script|Marck+Script|Meie+Script|Montserrat|Nanum+Brush+Script|Nanum+Pen+Script|Nova+Script|Parisienne|Petit+Formal+Script|Pinyon+Script|Rouge+Script|Sacramento|Seaweed+Script|Shadows+Into+Light|Yellowtail&display=swap" rel="stylesheet"> 
  <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon.png" />
</head>

<body>
  <div id="app"></div>

  <script nonce="apples" type="text/javascript" src="/bundle.js"></script>
</body>

</html>
